bidict
click
Flask
Flask-SocketIO
greenlet
h11
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
python-engineio
python-socketio
simple-websocket
SQLAlchemy
typing-extensions
Werkzeug
wsproto
zipp