<!-- 
All pages inherit from this page, this is the "base" page. 
Think of Java inheritance, but for web pages, eww... 

Contains script tags that tells the browser where to locate the JQuery scripts.
This code is pretty gross since everything is imported globally, if you're familiar with Python
this is equivalent to a bunch of glob imports -> import * from jquery. 

Yeah I know it's pretty ugly...
-->
<!DOCTYPE html>
<style>
    .main-background {
        background: url('/static/images/backgroundimage.jpeg') no-repeat center center;
        background-size: cover;
        width: 100%;
        position: relative;
    }

</style>
<html>
  <head>
    <title>Secure Messaging Application</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    {% block additional_css %}
    <link
      href="{{ url_for('static', filename='css/knowledge_repository.css') }}"
      rel="stylesheet"
    />
    {% endblock %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/libs/axios.min.js"></script>
    <script src="/static/js/libs/js.cookie.min.js"></script>
        <script src="/static/js/libs/socket.io.min.js"></script>
  </head>
  <body class="main-background">
    <!-- The content from any other page goes here -->
    {% block content %} {% endblock %}
  </body>
</html>
