<!-- 
    Login page, user is redirected here when the user clicks on Login.
-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>

{% extends 'base.jinja' %}

{% block content %} 

    <h1>Login</h1>
    <p>Username</p>
    <input id="username"/>
    <p id="usernameHelp" style="color: red;"></p>
    <p>Password</p>
    <input id="password"  type="password"/>
    <button id="togglePassword" onclick="togglePasswordVisibility()">👁️</button>
    <button id="loginButton" onclick="login()" disabled>Login</button>
    <p id="loginMessage" style="display: none;" disabled></p>
    <div>
        <a href="{{ url_for('signup') }}">Don't have an account? Sign Up</a>
    </div>

    <script>

        document.getElementById("username").addEventListener('input', function(event) {
            const username = event.target.value;
            usernameValid = validateUsername(username);
            document.getElementById('usernameHelp').textContent = usernameValid ? '' : 'Username invalid.';
            updateSignupButtonState();
        });

        function validateUsername(username){
            const hasSpecialChars = /[!@#$%^&*(),.?":{}|<>]/.test(username);
            return !hasSpecialChars;
        }

        function updateSignupButtonState(){
            document.getElementById('loginButton').disabled = !usernameValid;
        }

        function isValidURL(string) {
            if (string.length == 0) {
                return false;
            }
            if (string[0] == "/") {
                return true;
            }
            return false;
        }

        // function to toggle password visibility
        function togglePasswordVisibility() {
                const passwordInput = document.getElementById('password');
                const toggleButton = document.getElementById('togglePassword');
                const isPasswordVisible = passwordInput.type === 'text';
                passwordInput.type = isPasswordVisible ? 'password' : 'text';
                toggleButton.textContent = isPasswordVisible ? '👁️' : '🚫';
            }

        // async function to login the user when user clicks on login button
        async function login() {
            let loginButton = document.getElementById('loginButton');
            loginButton.disabled = true;
            // URL for the login_user function in the server
            let loginURL = "{{ url_for('login_user') }}";
            let username = $("#username").val();
            let password = $("#password").val();
            let hashedPassword = CryptoJS.SHA256(password).toString();

            let res = await axios.post(loginURL, {
                username: username, // using jQuery to select HTML element with id=username. .val() gets the value of that input field
                password: hashedPassword
            })
            .then(function (response){
                window.location.href = response.data;
            })
            .catch(function (error) {
                console.error('Error:', error)
                loginButton.disabled = false; // re-enable button is login fails

                // check error response from server
                if (error.response && error.response.data) {
                    // display error message
                    document.getElementById('loginMessage').textContent = error.response.data.error;
                } else {
                    // display generic error message
                    document.getElementById('loginMessage').textContent = "An error occurred";
                }
                 document.getElementById('loginMessage').style.display = "block";
            });
        }

    </script>
{% endblock %}
